* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
    /* position: sticky; */
    background-color: rgb(32, 32, 32);
    top: 0;
    z-index: 5;
}

.left {
    color: whitesmoke;
    padding: 10px;
    font-size: 1.5rem;
}

.right {
    list-style: none;
    text-decoration: none;
    display: flex;
    color: black;
    flex-direction: row;
    gap: 1.5rem;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ease-in;
}

ul li a:hover {
    border-bottom: 3px solid blueviolet;
}

.hero {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;
    margin-top: 1rem;
}

.left-sideH {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: max-content;
}

.name {
    font-size: 4rem;
    color: whitesmoke;
    margin-top: 2rem;
}

.name-ii {
    font-size: 4rem;
    color: rgb(132, 56, 204);
}

.info {
    margin: 1%;
    font-size: 1.2rem;
    color: rgb(192, 185, 185);
}

.contactB {
    padding: 0.5rem;
    font-size: 2rem;
    width: max-content;
    border: none;
    border-radius: 10px;
    height: max-content;
    background-color: blueviolet;
    color: whitesmoke;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.5s ease-in-out;
    margin-top: 2rem;
    margin-left: 1rem;
}

.contactB:hover {
    background-color: rgb(153, 93, 209);
    color: black;
}

.right-sideH {
    padding: 1rem;
    width: 35%;
}

.img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin: 20%;
    margin-left: 30%;
    align-items: center;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#about {
    width: 100%;
}

.about-h,
.ed-h {
    font-size: 4rem;
    margin-left: 40%;
    padding: 3px;
    color: black;
    transition: color 0.5s ease-in;
}

.ed-h {
    color: whitesmoke;
    margin-left: 35%;
    font-size: 3rem;
}

.about-h:hover {
    color: rgb(103, 15, 186);
}

.about-main {
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-a {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.abc {
    height: auto;
    width: 80%;
    margin: 5%;
    padding: 2%;
    background-color: rgb(239, 238, 238);
    border-radius: 10px;
}

.abc h2 {
    color: blueviolet;
    font-size: 2rem;
    padding: 10px;
}

.abc p {
    font-size: 1.2rem;
    color: gray;
}

.abc i {
    margin-right: 10px;
}

.right-a {
    width: 50%;

}

.box-a {
    height: 50%;
    width: 80%;
    border: 1px solid green;
    margin: 10%;
    border-radius: 10px;
    background: linear-gradient(to right, #fce7f3, #e099a1);
    background: linear-gradient(to left, #fce7f3, #b88ac4);
    background: linear-gradient(to bottom, #fce7f3, #e699c4);
    background: linear-gradient(to top, #fce7f3, #b47992);
    background: linear-gradient(to top right, #fce7f3, #e397e3);
    background: linear-gradient(to bottom left, #fce7f3, #d596ad);
}

.box-a h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.box-a ul {
    list-style: none;
    margin-top: 1rem;
    margin-left: 1rem;
}

.box-a ul li {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.pro {
    display: block;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 1.2rem;

}

progress {
    width: 80%;
    height: 2rem;
    margin-left: 2rem;
}

#education {
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: rgb(27, 26, 26);
}

.cart {
    height: max-content;
    width: 40%;
    border: 1px solid black;
    margin: 1rem;
    margin-left: 5%;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(44, 44, 44);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart h3 {
    font-size: 2rem;
    color: whitesmoke;
    padding: 5px;
}

.cart h4 {
    padding: 5px;
    color: rgb(177, 170, 170);
}

.cart p {
    color: whitesmoke;
    padding: 5px;
}

.cart4 {
    padding: 2rem 1rem;
    width: 40%;
    margin-left: 5%;
}

.cart5 {
    width: 80%;
}

.cart:hover {
    transform: scale(1.1);
}

#intership {
    height: max-content;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(27, 26, 26);
    padding-bottom: 25px;
}

.container {
    width: 60%;
    margin-left: 18%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
}

.head {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.head h2 {
    font-size: 2rem;
}

.i-cart {
    width: 60%;
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(76, 73, 73);
    margin-left: 15%;
}

.i-cart h3 {
    margin: 1rem;
    font-size: 2rem;
    color: rgba(245, 245, 245, 0.755);
}

.i-cart1 li {
    margin-top: 1rem;
    font-size: 1.3rem;
    color: rgba(245, 245, 245, 0.448);
}

ul {
    list-style: none;

}

.i-cart2 li {
    display: inline-block;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin: 1rem;
    border-radius: 20px;
}

i {
    margin-right: 10px;
}

.i-cart3 li {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.i-cart li {
    color: rgba(224, 216, 216, 0.711);
}

.head h2 {
    color: rgb(255, 255, 255);
}

.head h3 {
    color: grey;
}

#skills {
    width: 100%;
    height: max-content;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(27, 26, 26);
    padding-bottom: 25px;
}

.s-cart {
    width: 40%;
    height: max-content;
    border: 1px solid black;
    margin: 1%;
    padding: 20px;
    border-radius: 10px;
    background: rgb(53, 52, 52);
    transition: background 0.8s ease-in;
}

.s-cart:hover {
    background: linear-gradient(to top right, rgb(74, 71, 71), rgb(123, 118, 118));
    color: black;
}

.s-cart h2 {
    margin: 1%;
    font-size: 2rem;
    color: whitesmoke;
}

.s-cart ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.s-cart li {
    border: 1px solid black;
    width: max-content;
    margin: 1%;
    padding: 1rem;
    border-radius: 10px;
    background: transparent;
    font-size: 1rem;
    transition: background 0.5s ease-in-out;
    align-items: center;
}

#projects {
    width: 100%;
    height: 50rem;
}

.nextBtn,
.prevBtn {
    color: black;
    background-color: black;
}

.p-cart {
    margin-top: 1rem;
    margin-left: 30%;
    width: 40%;
    height: 30rem;
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
}

.p-cart ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.p-cart li {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

.upper {
    width: 100;
    height: 2rem;
    border-radius: 5px;
}

.nameP {
    color: white;
    margin: 1%;
}

.p-cart li {
    margin: 5%;

    border: none;
}

.p1 li {
    background-color: rgba(0, 128, 0, 0.536);
    color: whitesmoke;
}

.p2 li {
    background-color: rgb(108, 51, 161);
    color: whitesmoke;
}

.p3 li {
    background-color: #b47992;
    color: whitesmoke;
}

.p-cart i {
    margin-left: 5%;
}

.p-cart h4 {
    display: inline;
}

.paraP {
    color: whitesmoke;
    margin: 1%;
}

.u1 {
    background-color: green;
}

.u2 {
    background-color: blueviolet;
}

.u3 {
    background-color: #b47992;
}

.s-cart li:hover {
    background: linear-gradient(to top right, #e9b4d2, #bb74bb);
}

h3,
h4,
h1,
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 768px) {
    .p-cart {
        margin :1%;
        margin-top: 1rem;
            width: 100%;
            height: 30rem;
            background-color: rgb(61, 61, 61);
            border-radius: 10px;
        }
    .s-cart {
        width: 80%;
        margin-left: 1rem;
    }

    .s-cart h2 {
        margin: 1%;
        font-size: 1rem;
    }

    .i-cart2 li {
        margin: 5px;
    }

    .i-cart3 li {
        margin-top: 1rem;
        font-size: 0.8rem;
    }

    .i-cart h3 {
        margin: 0.5rem;
        font-size: 1rem;
    }

    .i-cart li {
        font-size: 15px;
    }

    .i-cart2 li {
        font-size: 10px;
    }

    .container {
        width: 90%;
        margin: 1rem;
    }

    .i-cart {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    .head h2 {
        font-size: 1.5rem;
    }

    header {
        align-items: center;
        height: max-content;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .right {
        list-style: none;
        text-decoration: none;
        display: flex;
        color: black;
        flex-direction: column;
        gap: 1rem;
    }

    .left-sideH {
        width: auto;
    }

    .name {
        font-size: 2rem;
        color: whitesmoke;
    }

    .name-ii {
        font-size: 2rem;
        color: rgb(132, 56, 204);
    }

    .info {
        font-size: 1rem;
    }

    .contactB {
        padding: 0.3rem;
        font-size: 1.5rem;
    }

    .right-sideH {
        border: 1px solid white;
        height: auto;
        min-height: 250px;
        width: auto;
    }

    .img {
        height: auto;
        width: auto;
        border-radius: 50%;
        border: 1px solid yellow;
        margin: 10%;
        margin-left: 0;
        object-fit: cover;
    }

    .about-h,
    .ed-h {
        font-size: 2rem;
        margin-left: 28%;
    }

    .about-main {
        flex-direction: column;

    }

    .left-a {
        width: 100%;
    }

    .abc h2 {
        color: blueviolet;
        font-size: 1rem;
        padding: 10px;
    }

    .abc p {
        font-size: 0.5rem;
        color: gray;
    }

    .right-a {
        width: 100%;
    }

    .box-a {
        height: auto;
    }

    .box-a h3 {
        font-size: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .box-a ul {
        list-style: none;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .box-a ul li {
        margin-top: 0.5rem;
        font-size: 10px;
    }

    .pro {
        display: block;
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        font-size: 10px;

    }

    progress {
        width: 80%;
        height: 1rem;
        margin-left: 1rem;
    }

    .cart {
        width: 100%;
    }

    .cart h3 {
        font-size: 1rem;
    }

    .cart4 {
        margin: 5%;
    }
}